.QuizPage {
  padding-left: 20%;
  padding-right: 20%;
}
.QuizTitle {
  text-align: center;
}
.EngInstructions {
  text-align: left;
}
.HebInstructions {
  text-align: right;
}
.ReferenceText {
  text-align: right;
}
.QuizSection {
  margin-bottom: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.336);
}
.Question {
  text-align: right;
}

.Question select {
  text-align: right
}
.checkmark {
  color: rgb(75, 141, 75);
}
.wrongmark {
  color:red;
}